#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --text-color: whitesmoke;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(15deg, rgb(0, 0, 0), rgb(10, 12, 15));
}

h1 {
  color: var(--text-color);
}

button {
  color: var(--text-color);
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-image: linear-gradient(
    30deg,
    rgba(18, 16, 16, 0.204),
    rgb(3, 15, 29)
  );
  border-radius: 10px;
}
